DflMesWebService/wsdl/MachineListenerService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://impl.service.jax.mes.org/" xmlns:tns="http://impl.service.jax.mes.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getMachineParam" type="tns:getMachineParam"/>

  <xs:element name="getMachineParamResponse" type="tns:getMachineParamResponse"/>

  <xs:complexType name="getMachineParam">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMachineParamResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

