BPMES/bpmes/wsdl/DflDipServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://impl.service.jax.mes.org/" name="DflDipServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://impl.service.jax.mes.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://impl.service.jax.mes.org/" schemaLocation="DflDipServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="SetID">
    <part name="parameters" element="tns:SetID"/>
  </message>
  <message name="SetIDResponse">
    <part name="parameters" element="tns:SetIDResponse"/>
  </message>
  <message name="SetIP">
    <part name="parameters" element="tns:SetIP"/>
  </message>
  <message name="SetIPResponse">
    <part name="parameters" element="tns:SetIPResponse"/>
  </message>
  <message name="StopService">
    <part name="parameters" element="tns:StopService"/>
  </message>
  <message name="StopServiceResponse">
    <part name="parameters" element="tns:StopServiceResponse"/>
  </message>
  <message name="StartService">
    <part name="parameters" element="tns:StartService"/>
  </message>
  <message name="StartServiceResponse">
    <part name="parameters" element="tns:StartServiceResponse"/>
  </message>
  <message name="doService">
    <part name="parameters" element="tns:doService"/>
  </message>
  <message name="doServiceResponse">
    <part name="parameters" element="tns:doServiceResponse"/>
  </message>
  <message name="SetTimeService">
    <part name="parameters" element="tns:SetTimeService"/>
  </message>
  <message name="SetTimeServiceResponse">
    <part name="parameters" element="tns:SetTimeServiceResponse"/>
  </message>
  <message name="SetTaktService">
    <part name="parameters" element="tns:SetTaktService"/>
  </message>
  <message name="SetTaktServiceResponse">
    <part name="parameters" element="tns:SetTaktServiceResponse"/>
  </message>
  <portType name="DflDipService">
    <operation name="SetID">
      <input wsam:Action="http://impl.service.jax.mes.org/DflDipService/SetIDRequest" message="tns:SetID"/>
      <output wsam:Action="http://impl.service.jax.mes.org/DflDipService/SetIDResponse" message="tns:SetIDResponse"/>
    </operation>
    <operation name="SetIP">
      <input wsam:Action="http://impl.service.jax.mes.org/DflDipService/SetIPRequest" message="tns:SetIP"/>
      <output wsam:Action="http://impl.service.jax.mes.org/DflDipService/SetIPResponse" message="tns:SetIPResponse"/>
    </operation>
    <operation name="StopService">
      <input wsam:Action="http://impl.service.jax.mes.org/DflDipService/StopServiceRequest" message="tns:StopService"/>
      <output wsam:Action="http://impl.service.jax.mes.org/DflDipService/StopServiceResponse" message="tns:StopServiceResponse"/>
    </operation>
    <operation name="StartService">
      <input wsam:Action="http://impl.service.jax.mes.org/DflDipService/StartServiceRequest" message="tns:StartService"/>
      <output wsam:Action="http://impl.service.jax.mes.org/DflDipService/StartServiceResponse" message="tns:StartServiceResponse"/>
    </operation>
    <operation name="doService">
      <input wsam:Action="http://impl.service.jax.mes.org/DflDipService/doServiceRequest" message="tns:doService"/>
      <output wsam:Action="http://impl.service.jax.mes.org/DflDipService/doServiceResponse" message="tns:doServiceResponse"/>
    </operation>
    <operation name="SetTimeService">
      <input wsam:Action="http://impl.service.jax.mes.org/DflDipService/SetTimeServiceRequest" message="tns:SetTimeService"/>
      <output wsam:Action="http://impl.service.jax.mes.org/DflDipService/SetTimeServiceResponse" message="tns:SetTimeServiceResponse"/>
    </operation>
    <operation name="SetTaktService">
      <input wsam:Action="http://impl.service.jax.mes.org/DflDipService/SetTaktServiceRequest" message="tns:SetTaktService"/>
      <output wsam:Action="http://impl.service.jax.mes.org/DflDipService/SetTaktServiceResponse" message="tns:SetTaktServiceResponse"/>
    </operation>
  </portType>
  <binding name="DflDipServicePortBinding" type="tns:DflDipService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="SetID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SetIP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StopService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StartService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SetTimeService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SetTaktService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DflDipServiceService">
    <port name="DflDipServicePort" binding="tns:DflDipServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

